@charset "UTF-8";

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titles {
	margin: 10px;
	border: 1px solid black;
	width: 400px;
	display: flex;

}

.title {
	flex: 4;
	font-weight: bold;
}

.date {
	flex: 1;
}

.article {
	margin: 10px;
	border: 1px solid black;
	width: 400px;
	height: 300px;
	text-align: left;
	font-size: 16px;
	overflow-y: scroll;
}

.buttons button {
	float: right;
	margin: 10px;
}

.content {
	width: 400px;
	height: 100px;
}

.confirm {
	float: right;
}


.comments {
	margin: 10px;
}
.commentTitle {
	border: 1px solid black;
	width: 400px;
	padding: 5px;
}

.commentContent {
	border: 1px solid black;
	width: 400px;
	padding: 5px;
}

